[Unit]
Requires=kubelet.service
After=kubelet.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStartPre=/sbin/iptables -D INPUT -p udp --dport 54321 -j ACCEPT
ExecStartPre=/sbin/iptables -D OUTPUT -p udp --dport 54321 -j ACCEPT
ExecStart=/sbin/iptables -I INPUT -p udp --dport 54321 -j ACCEPT
ExecStart=/sbin/iptables -I OUTPUT -p udp --dport 54321 -j ACCEPT

[Install]
WantedBy=multi-user.target
