[Interface]
Address = {{ VPN_SUBNET }}.{{ vpn_ip }}/32
ListenPort = {{ VPN_PORT }}
PrivateKey = {{ private_key.content | b64decode | trim }}

[Peer]
PublicKey = {{ hostvars[item].public_key.content | b64decode | trim }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ hostvars[item].ansible_ens4.ipv4.address }}:{{ VPN_PORT }}
