[Interface]
Address = {{ WIREGUARD_SUBNET }}.{{ vpn_ip }}/32
ListenPort = {{ WIREGUARD_PORT }}
PrivateKey = {{ private_key.content | b64decode | trim }}

[Peer]
PublicKey = {{ hostvars[item].public_key.content | b64decode | trim }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ hostvars[item].ansible_ens2.ipv4.address }}:{{ WIREGUARD_PORT }}
