[Interface]
Address = {{ WIREGUARD_SUBNET }}.1/24
ListenPort = {{ WIREGUARD_PORT }}
PrivateKey = {{ private_key.content | b64decode | trim }}
{% for h in groups['clients'] | sort %}

[Peer]
PublicKey = {{ hostvars[h].public_key.content | b64decode | trim}}
AllowedIPs = {{ WIREGUARD_SUBNET }}.{{ hostvars[h].vpn_ip }}/32
{% endfor %}
